@{
    ViewData["Title"] = "FootBallStat";
}

@if(User.Identity.IsAuthenticated)
{
    <p> </p>
<p>@User.Identity.Name</p>

<form method="post" asp-controller="Account" asp-action="Logout">
@*    <input type="submit" value="Вихід" />*@
    <button class="btn btn-danger"> Вихід </button>
</form>

}
else
{
    <p> </p>
<a asp-controller="Account" asp-action="Login"><button class="btn btn-info"> Вхід </button></a>
<a asp-controller="Account" asp-action="Register"><button class="btn btn-success"> Реєстрація </button></a>

}
